*.gz
*.iso
*.img
settings.cfg
settings.sh
master.zip
id_rsa.pub
keys.txt
run.sh
cd-rom/*
tmp/*
build-rc.sh
authorized_keys_in
mfsbsd/conf/rc.local
mfsbsd/conf/rc.conf
mfsbsd/conf/loader.conf
customfiles/depenguin_settings.sh
customfiles/INSTALLERCONFIG.active
