conf_hostname="your.hostname"
conf_interface="igb0"    # or em0 | or re0 | or ixl0 | etc
conf_ipv4=""
conf_ipv6=""
conf_gateway=""
conf_nameserveripv4one=""
conf_nameserveripv4two=""
conf_nameserveripv6one=""
conf_nameserveripv6two=""
conf_username=""
conf_pubkeyurl=""
conf_disks="ada0 ada1"   # or ada0 | or ada0 ada1 ada2 ada3 | QEMU only passes in ada*
conf_disktype="mirror"   # or stripe for single disk
run_installer="0"        # set to 1 to enable installer
